<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyper Translate</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header>
        <h1>Hyper Translate</h1>
    </header>

    <div class="translate-tools">
        <div class="translate-inputs">
            <textarea name="input-translate" id="input-translate" cols="50" rows="20"></textarea>
            <img src="./imgs/icon.png" alt="icone" width="" id="icon-translate">
            <textarea name="output-translate" id="output-translate" cols="50" rows="20"></textarea>
        </div>
        <div class="div-loading">
            <div class="loading">
            </div>
        </div>
        <div class="translate-config">
            <div class="div-lang-input">
                <label for="lang-input">Linguagem (Entrada)</label>
                <select name="lang-input" id="lang-input">
                    <option value="pt">Português</option>
                    <option value="fr">Francês</option>
                </select>
            </div>
            <div class="lang-output">
                <label for="lang-output">Linguagem (Saída)</label>
                <select name="lang-output" id="lang-output">
                    <option value="en">Inglês</option>
                    <option value="pt">Português</option>
                </select>
            </div>
            <div class="div-quantity-langs">
                <label for="quantity-langs">Quantidade</label>
                <select name="quantity-langs" id="quantity-langs">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
    </div>

    <script src="./javascript/script.js" type="module"></script>
</body>
</html>