* {
    margin: 0;
    padding: 0;
}

.translate-tools {
    width: 840px;
}

#icon-translate {
    margin-bottom: 7.5rem;
    max-width: 4rem;
    cursor: pointer;
}

.translate-config {
    display: flex;
    justify-content: space-between;
}

.div-loading {
    height: 1rem;
    padding: 0.5rem 1rem;
}

.loading {
    border: 3px solid black;
    width: 100%;
    height: 100%;
    display: flex;
}

.loading-part-sucess {
    background-color: blue;
}
